* {
    font-family: 'Lato', sans-serif;
    color: purple;
}

body {
    text-align: center;
    margin: 1vw;
    /* For browsers that do not support gradients */
    background-color: rgb(126, 3, 126);
    background-image: linear-gradient(to right, purple 5%, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 90%, purple 95%);
}

.navbar {
    background-color: purple;
    margin-top: -11px;
}

#mainimage {
    width: 80%;
    padding-top: 50px;
    margin: auto;
}

.head-title {
    font-size: 2vw;
    color: white;
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 3px;
}

.navbar-options {
    color: white;
    font-size: 2.5vw;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.my-name {
    font-size: 5vw;
    text-align: center;
}

.concert {
    max-height: 200px;
    margin: auto;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%
}

.bio {
    text-align: center;
    font-size: 2vw;
    border: 2px solid purple;
    border-radius: 12px;
    padding: 10px;
}

#one-section {
    text-align: center;
    margin: auto;
}

h4 {
    font-size: 3vw;
}

.portfolio {
    text-align: center;
}

.portfolio-subtitle {
    padding-top: 2%;
    margin: 5%;
    text-align: center;
    border: 2px solid purple;
    border-radius: 12px;
}

.pictures {
    padding-top: 15px;
    padding-bottom: 15px;
}

.picture {
    padding: 15px;
}

h1 {
    font-size: 4vw;
}

.contact {
    text-align: center;
    font-size: 2vw;
    border: 2px solid purple;
    border-radius: 1vw;
}

.contact-subtitle {
    padding-top: 2%;
    margin: 5%;
    text-align: center;
}