/* 
font-family: 'Jura', sans-serif;
font-family: 'Recursive', sans-serif; 
*/

body {
    text-align: center;
    margin: 1vw;
    /* For browsers that do not support gradients */
    /* background-color: rgb(126, 3, 126); */
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -4;
    height: 100vh;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
    /* background-image: url('../images/yoga.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    background: url('./Images/thirdattemptbg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Recursive', sans-serif !important;
    /* opacity: 1; */
}

.navbar {
    color: #462A46;
    margin-top: -11px;
    width: 100%;
    z-index: 5;
    font-family: 'Jura', sans-serif;
}

.profilePicture {
    position: absolute;
    top: 2%;
    right: 1%;
}

#mainimage {
    width: 80%;
    padding-top: 2rem;
    margin: auto;
}

.head-title {
    font-size: 3rem;
    color: white;
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px #a200ff38;
    z-index: 5px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.navbar-options {
    color: #462A46;
    background-color: rgba(241, 234, 250, 0.904);
    font-size: 2.5vw;
}

.my-name {
    font-size: 5vw;
    text-align: center;
}

.concert {
    max-height: 200px;
    margin: auto;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%
}

.bio {
    text-align: center;
    font-size: 1.25rem;
    border-radius: 12px;
    padding: 10px;
    color: #462A46;
    background-color: rgba(255, 252, 246, 0.849);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
    font-family: 'Recursive', sans-serif;
}

#one-section {
    text-align: center;
    margin: auto;
}

h4 {
    font-size: 3vw;
    color: #462A46;
    font-family: 'Jura', sans-serif;
}

.portfolio {
    text-align: center;
}

.portfolio-subtitle {
    padding-top: 2%;
    margin: 5%;
    text-align: center;
    border: 2px solid purple;
    border-radius: 12px;
    color: #462A46;
    background-color: rgba(255, 252, 246, 0.555);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.pictures {
    padding-top: 15px;
    padding-bottom: 15px;
}

.picture {
    padding: 15px;
}

h1 {
    font-size: 4vw;
    color: white;
    font-family: 'Jura', sans-serif;
}

.contact {
    text-align: center;
    font-size: 2vw;
    border: 2px solid purple;
    border-radius: 1vw;
    margin-bottom: 2rem;
    color: #462A46;
    background-color: rgba(255, 252, 246, 0.966);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.contact-subtitle {
    padding-top: 2%;
    margin: 5%;
    text-align: center;
}